# dist file for the OEParticleSim Project.

dist /extensions/Inspection/Inspection.dist       http://www.openengine.dk/code/extensions/Inspection/Inspection.dist
dist /extensions/InspectionBar/InspectionBar.dist       http://www.openengine.dk/code/extensions/InspectionBar/InspectionBar.dist
dist /extensions/OEParticleSystem/OEParticleSystem.dist       http://www.openengine.dk/code/extensions/OEParticleSystem/OEParticleSystem.dist

# Main repository
darcs     / http://openengine.dk/code/openengine
git-dev / git@github.com:OpenEngineDK/openengine.git

# Project repository

git     /projects/OEParticleSim https://github.com/OpenEngineDK/projects-OEParticleSim.git
git-dev /projects/OEParticleSim git@github.com:OpenEngineDK/projects-OEParticleSim.git

# Required extension repositories
git /extensions/OpenGLRenderer             https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/OpenGLSelection            https://github.com/OpenEngineDK/extensions-OpenGLSelection.git
git /extensions/SDL                        https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/SDLFont                    https://github.com/OpenEngineDK/extensions-SDLFont.git
git /extensions/CairoResource              https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/SDLImage                   https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/OBJResource                https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/GenericHandlers            https://github.com/OpenEngineDK/extensions-GenericHandlers.git
# git /extensions/Effects                    https://github.com/OpenEngineDK/extensions-Effects.git
git /extensions/HUD                        https://github.com/OpenEngineDK/extensions-HUD.git

git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/OpenGLSelection        git@github.com:OpenEngineDK/extensions-OpenGLSelection.git
git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/SDLFont                git@github.com:OpenEngineDK/extensions-SDLFont.git
git-dev /extensions/CairoResource          git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/SDLImage               git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/OBJResource            git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/GenericHandlers        git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/HUD                    git@github.com:OpenEngineDK/extensions-HUD.git

#libaries
win32 /libraries http://openengine.dk/data/libraries/sdlttf-win32.zip

#data
any /projects/OEParticleSim/data/Fonts  http://openengine.dk/data/fonts/freefont-ttf-20090104.tar.gz
any /projects/OEParticleSim/data        http://openengine.dk/data/images/slider_bg.png
any /projects/OEParticleSim/data        http://www.openengine.dk/data/images/Smoke.zip
any /projects/OEParticleSim/data        http://www.openengine.dk/data/images/star.jpg
