# dist file for the OEParticleSim Project.

dist /extensions/Inspection/Inspection.dist       http://www.openengine.dk/code/extensions/Inspection/Inspection.dist
dist /extensions/InspectionBar/InspectionBar.dist       http://www.openengine.dk/code/extensions/InspectionBar/InspectionBar.dist


# Main repository
darcs     / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# Project repository
darcs     /projects/OEParticleSim http://openengine.dk/code/projects/OEParticleSim
darcs-dev /projects/OEParticleSim fh.daimi.au.dk:/users/cgd/code/projects/OEParticleSim

# Required extension repositories
darcs /extensions/OpenGLRenderer             http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/OpenGLSelection            http://openengine.dk/code/extensions/OpenGLSelection
darcs /extensions/SDL                        http://openengine.dk/code/extensions/SDL
darcs /extensions/SDLFont                    http://openengine.dk/code/extensions/SDLFont
darcs /extensions/CairoResource              http://openengine.dk/code/extensions/CairoResource
darcs /extensions/SDLImage                   http://openengine.dk/code/extensions/SDLImage
darcs /extensions/OBJResource                http://openengine.dk/code/extensions/OBJResource
darcs /extensions/GenericHandlers            http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/OEParticleSystem           http://openengine.dk/code/extensions/OEParticleSystem
# darcs /extensions/Effects                    http://openengine.dk/code/extensions/Effects
darcs /extensions/HUD                        http://openengine.dk/code/extensions/HUD

darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/OpenGLSelection        fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLSelection
darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/SDLFont                fh.daimi.au.dk:/users/cgd/code/extensions/SDLFont
darcs-dev /extensions/CairoResource          fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource
darcs-dev /extensions/SDLImage               fh.daimi.au.dk:/users/cgd/code/extensions/SDLImage
darcs-dev /extensions/OBJResource            fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/GenericHandlers        fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
darcs-dev /extensions/OEParticleSystem       fh.daimi.au.dk:/users/cgd/code/extensions/OEParticleSystem
darcs-dev /extensions/HUD                    fh.daimi.au.dk:/users/cgd/code/extensions/HUD

#data
any /projects/OEParticleSim/data/Fonts  http://openengine.dk/data/fonts/freefont-ttf-20090104.tar.gz
any /projects/OEParticleSim/data        http://openengine.dk/data/images/slider_bg.png
any /projects/OEParticleSim/data        http://www.openengine.dk/data/images/Smoke.zip
any /projects/OEParticleSim/data        http://www.openengine.dk/data/images/star.jpg
